.card {
  border-radius: 1.1rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  text-align: center;
  max-width: 15rem;
  min-width: 12rem;
  background-color: var(--color-background);
}

.card img {
  max-width: 100%;
  height: auto;
}
