.container {
  margin: 5rem;
}

.section-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10rem;
}

.section-principal img {
  max-width: 45%;
  height: auto;
}

.slide-fwd-right {
  animation: slide-fwd-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s both;
}

@keyframes slide-fwd-right {
  0% {
    transform: translateZ(0) translateX(0);
  }
  100% {
    transform: translateZ(160px) translateX(100px);
  }
}

.text-focus-in {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.container-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
